<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- css file -->
    <link rel="stylesheet" href="../tempdelete/tempp.css" />

    <!-- font awsome  -->
    <script
      src="https://kit.fontawesome.com/5f36bb084e.js"
      crossorigin="anonymous"
    ></script>

    <title>Hello, world!</title>
  </head>

  <style></style>

  <body>
    <h1>SIddhesh</h1>
    <!-- <div class="started"></div> -->
    <div class="Main-section d-flex align-items-center">
      <div class="container Parent-section">
        <div class="row">
          <div class="col-lg-6 col-md-6 first-section">
            <h3 class="banner-text">
              We Help for <strong> 25 years</strong> to<br />
              helpless people with trust <br />
              and we're happy!
            </h3>
            <button class="btn btn-lg voluntneer-btn mt-4">
              Become Volutneer
            </button>
          </div>

          <div
            class="col-lg-6 col-md-6 d-flex flex-row mt-3 justify-content-start"
          >
            <div class="bg-icon1 text-center">
              <i class="fas fa-trophy trophy"></i>
              <h1 class="num-hai">43</h1>
              <p>AWARDS</p>
            </div>

            <div class="bg-icon1 text-center">
              <i class="fas fa-hands-helping trophy"></i>
              <h1 class="num-hai">3500</h1>
              <p>VOLUNTNEER</p>
            </div>

            <div class="bg-icon1 text-center">
              <i class="fas fa-tasks trophy"></i>
              <h1 class="num-hai">43</h1>
              <p>PROJECTS</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="ended"></div> -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
